*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.site-header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:whitesmoke;
    position: fixed;
    z-index: 100;
}
.logo{
    margin-right: auto;
    color: black;
    padding-left: 300px;
    font-size: 35px;
}

.nav-list{
    display: flex;
    color: black;
    position: absolute;
    right: 400px;
}
.nav-item{
    margin: 0 35px;
    font-size: 15px;
    padding-right: 50px;
}
.link-site{
    width: 100px;
    height: 30px;
    background-color: ;
    border-radius: 5px;
    position: absolute;
    left: 790px;
    top: -5px;
}
.link-site-one{
    padding-top: 5px;
    padding-left: 20px;
}
.section-one{
    padding-top: 150px;
}
.section-one-text{
    width: 300px;
    height: 240px;
    margin-left: 400px;
}

.section-one-text-one{
    font-size: 50px;
}
.section-one-text-two{
    padding-top: 50px;
    font-size: 20px;
}
.site-buttom{
    width: 300px;
    height: 100px;
    background-color: #263238;
    border-radius: 10px;
    margin-top: 50px;
    position: relative;
}
.buttom-text{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 80px;    
}
.site-img{
    margin-left: 800px;
}

