*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.site-header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:whitesmoke;
    position: fixed;
    z-index: 100;
}
.logo{
    margin-right: auto;
    color: black;
    padding-left: 300px;
    font-size: 35px;
}

.nav-list{
    display: flex;
    color: black;
    position: absolute;
    right: 400px;
}
.nav-item{
    margin: 0 35px;
    font-size: 15px;
    padding-right: 50px;
}
.link-site{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    left: 790px;
    top: -6px;
    border: 2px solid black;
}
.link-site-one{
    position: absolute;
    top: 4px;
    padding-left: 18px;
    color: #263238;
}
.section-one{
    padding-top: 150px;
}
.section-one-text{
    width: 380px;
    height: 240px;
    margin-left: 400px;
}

.section-one-text-one{
    font-size: 50px;
}
.section-one-text-two{
    padding-top: 50px;
    font-size: 20px;
}
.site-buttom{
    width: 380px;
    height: 110px;
    background-color: #263238;
    border-radius: 10px;
    margin-top: 50px;
    position: relative;
}
.buttom-text{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 90px;    
}
.site-img{
    margin-left: 850px;
    margin-top: 70px;
}
.site-img-2{
    position: absolute;
    top: 189px;
    left: 620px;
}
.container{
    margin: 0 auto;
}
.section-two{
    padding-top: 800px;
    display: flex;
    position: relative;
    
}
.section-two-text-one{
align-items: center;
text-align: center;
}
.section-two-firsttext{
    color: black;
    margin-left: 800px;
}
.box-one{
    width: 435px;
    height: 894px;
    background-color: #F5F5F5;
    border-radius: 5px;
    position: absolute;
    left: 180px;
    top: 900px;
    

}
.box-img-one{
    padding-left: 15px;
}
.box-first-text{
    color: black;
    padding-left: 50px;
    font-size: 30px;
}
.box-text-two{
    font-size: 15px;
    color: #263238;
    padding-top: 15px;
    width: 350px;   
    padding-left: 50px;
    color:  #8F95A5;
}
.buttom-two{
    width: 183px;
    height: 47px;
    background-color: #333;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 5px;
}
.buttom-two-text{
    font-size: 15px;
    padding-left: 50px;
    padding-top: 10px;
}
.box-two{
    width: 435px;
    height: 530px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 100px;
    position: absolute;
    left: 650px;
}
.box-two-img{
    padding-left: 100px;
}
.box-two-text{
    color: black;
    padding-left: 50px;
    font-size: 30px;
}
.buttom-three{
    width: 173px;
    height: 47px;
    background-color: #333;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;
}
.buttom-three-text{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
.box-three{
    width: 435px;
    height: 530px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 100px;
    position: absolute;
    left: 1120px;
}
.box-three-img{
    margin-left: 20px;
}
.box-three-text{
    color: black;
    padding-left: 50px;
    padding-top: 40px;
    font-size: 30px;
}
.box-four{
    width: 900px;
    height: 330px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 660px;
    position: absolute;
    left: 650px;
}
.buttom-four{
    width: 183px;
    height: 47px;
    background-color: #333;
    margin-top: 35px;
    margin-left: 50px;
    border-radius: 5px;
}
.buttom-four-text{
    font-size: 20px;
    padding-left: 40px;
    padding-top: 10px;
}
.box-four-img{
    position: absolute;
left: 500px;
top: 30px;
}
.section-three{
    padding-top: 1200px;
    padding-left: 200px;
     display: flex;
     position: relative;
}


.section-thee-text{
    color: black;
    font-size: 40px;
}

.section-three-text-2{
    color:#8F95A5;
    font-size: 20px;
    width: 450px;
    padding-top: 50px;
    
}
.siteimg{
    position: absolute;
    left: 900px;
}
.cast{
    padding-top: 20px;
    color: black;
    display: flex;
    margin-left: 150px;

}
.cost-1{
    padding-left: 80px;
    align-items: center;
    text-align: center;
}
.cost-2{
    font-size: 15px;
    color:  #8F95A5;
}
.section-four{
    padding-top: 100px;
    
}
.section-four-firsttext{
    color: black;
    text-align: center;
    margin-left: 10px;
}

.ul-item{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    
}
.li-item{
    margin-left: 180px;
}

.section-four-text{
    color: black;
    font-size: 30px;
}
.section-four-text2{
    color:#8F95A5;
    font-size: 15px;
    width: 300px;
    padding-top: 30px;

}
.cena{
    margin-top: 40px;
    width: 198px;
    height: 45px;
    background-color: #eeeeee;
    border-radius: 5px;
    
}
.sup{
    color: black;
}
.sub{
 color:  #546269;
 font-size: 15px;
}
.li-itemm{
    margin-left: 180px;
    padding-top: 30px;
}
.li-itemmm{
    margin-left: 180px;
    padding-bottom: 20px;
}


.last_body{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.last_img{
    width: 60%;
    
}
.last_title{
    width: 40%;
}
h4{
    font-size: 20px;
    color: #8F95A5;
    width: 90%;
}
h1{
    font-size: 48px;
}
input{
    padding: 20px;
    width: 47%;
    border: 1px solid #8F95A5;
    color: #8F95A5;
    border-radius: 10px;
}
button{
    padding: 20px;
    color: white;
    background-color: #263238;
    width: 250px;
    border-radius: 10px;
    border: none;
}
.the-end{
    color: black;
    margin-left: 80px;
    margin-top: 100px;
}
.the-end-two{
    color: #8F95A5;
    font-size: 30px;
    text-align: end;
    margin-right: 100px;
    padding-bottom: 50px;
}
.hr{
    margin-right: 100px;
}